* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Raleway', 'Oswald';
    width: 79vw;
    margin-left: 20vw;
    /* margin: auto; */
    z-index: -2;
}

a {
    text-decoration: none;
    color: #000;
}

li {
    list-style: none;
}

h1 {
    line-height: 1.4;
    font-family: "Oswald";
    font-size: 45px;
}

h2 {
    line-height: 1.4;
    font-family: "Oswald";
    font-size: 30px;
    padding: 10px 0;

}
h3 {
    line-height: 1.4;
    font-family: "Oswald";
    font-size: 20px;
}
p{
    color: #ccc;
    font-size: 15px;
    padding: 10px auto;
}

#main {
    width: 100%;
    height: auto;
    /* display: flex; */
    /* overflow: hidden; */

    /* So the width will be 100% + 17px */
}

/*------------------ SIDE MENU  START -----------------*/
.logo {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: center;
}

/* #menuBar {} */

.menu_bar {

    position: fixed;

    overflow: hidden;

    top: 0;

    left: 0;

    width: 20vw;

    height: 100vh;

    background-color: #4B4189;

    transition: width 0.2s;

    box-sizing: border-box;

    overflow: hidden;

    box-shadow: 0 5px 50px 10px #803bff;

    z-index: 0;
}


/* Hide scrollbar for IE, Edge add Firefox */
/* .scrollbar-hidden {
    -ms-overflow-style: none;
    scrollbar-width: none;
    /* Firefox */

/* .navbar {} */

.logo>img {
    width: 53%;
    margin: 0 20%;
    border-radius: 23px;
    text-align: center;
    /* margin: auto; */
    user-select: none;
    margin-top: 50px;
    margin-bottom: 20px;
}

.menu {
    padding-top: 20px;
    z-index: -2;
}


.list_item {
    width: 90%;
    padding: 30px 0;
    padding-left: 10%;
    z-index: -2;

}

.list_item a {
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    z-index: 2;

}

.list_item.active {
    background: #6C75D0;

}

/*----------------- SIDE MENU FINISHED -----------------*/



/*------------------ content Area  START -----------------*/
/*------------------ Herro Area  START -----------------*/
.content_area {
    width: 79vw;
    height: 90vh;
    height: auto;
    overflow: hidden;
    margin: 0 !important;
}

.hero_area {
    width: 100%;
    height: 90vh;

    padding: 5vh 0;

    padding-left: 0px;

    background-image: url(img/Bg.png);

    background-repeat: no-repeat;

    background-size: cover;
    background-attachment: fixed;

    /* background-position: right; */

    /* margin-left: auto; */

    display: flex;

    /* justify-content: center; */

    align-content: center;

    align-self: center;

    align-items: center;

    flex-direction: row;

    flex-wrap: nowrap;

    justify-content: center;

    z-index: -1;
}

.hero_area_left {
    width: 44%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: left;
    text-align: left;
    padding-left: 10%;
    color: rgb(255, 255, 255);
    padding-bottom: 200px;
}

.hero_area_left h1 {
    margin-bottom: 10px;
    max-width: 400px;
}

.content_area {}

.social {
    margin-top: 30px;
    display: flex;
    max-width: 300px;
    margin-bottom: 30px;
}

.s_list_item {
    margin-right: 10px;
}

.quote_btn {
    width: 158px;
    height: 57px;
    border: none;
    background: linear-gradient(to Right, #00fff3, #b45fdb);
    border-radius: 30px;
    color: #fff;
    box-shadow: -4px 9px 37px 7px #00ddff;
    font-size: 18px;
    font-weight: 600;
}

.about_btn {
    width: 120px;
    height: 57px;
    border: none;
    color: #fff;
    background: none;
    font-size: 18px;
    font-weight: 600;
    ;
    display: inline;


}

p.hoverE {
    max-width: 400px;
}

.button_grp.hoverE {
    max-width: 290px;
}

.imgArea {
    width: 50%;
}

.sticky {
    position: sticky;
    top: 0px;
}

.new {
    padding-top: 200px;
}

/*----------------- content Area FINISHED -----------------*/

.cursor {
    position: absolute;
    top: 0;
    left: 0;
    width: 2rem;
    height: 2rem;
    border-radius: 30px;
    border: 1px solid #fff;
    transform: translate(-50%, -50%);
    pointer-events: none;
    transition: all 0.05s ease-in-out;
    z-index: 1;
}

.cursorBig {

    width: 5.5rem;
    height: 5.5rem;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
    border: 1px solid #fff;
    transform: translate(-50%, -50%);
    pointer-events: none;
    transition: all 0.06s ease-in-out;
    z-index: 1;
}

.cursorSmall {
    width: 5px;
    height: 5px;
    position: absolute;
    background: #fff;
    border-radius: 50%;
    pointer-events: none;
    z-index: 1;
}

.link-grow {

    transform: scale(3);
    background: rgb(0, 195, 255);
    mix-blend-mode: color-burn;
    transform-origin: 75% 75%;
}

.link-grow2 {
    transform: scale(1.5);
    border: 1px solid rgba(255, 255, 255, 0.432);
    transform-origin: 150% 150%;
}

.about_main {
    width: 100%;
    height: 100vh;
    padding: 100px;
    display: flex;
    background: rgb(29, 24, 66);
    color: #fff;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}
.right_social{}
.Right_s_list{}
.about_area{
    display: flex; justify-content: space-between;
align-items: center;
align-content: center;
align-self: center;
}
.about_img{
    width: auto; height: 50%;
}
.aboutinfo{}
.info_list{}
.about_details{}
.ftitle{}
.about_t{}
.abut_sub{}
.abut_desc{}
.abut_btn{}
