@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', 'Oswald';
    width: 79vw;
    margin-left: 20vw;
    z-index: -2;
}

a {
    text-decoration: none;
    color: #000;
}

li {
    list-style: none;
}

h1 {
    line-height: 1.4;
    font-family: "Oswald";
    font-size: 45px;
}

h2 {
    line-height: 1.4;
    font-family: "Oswald";
    font-size: 30px;
    padding: 10px 0;
}
h3 {
    line-height: 1.4;
    font-family: "Oswald";
    font-size: 20px;
}
p{
    color: #ccc;
    font-size: 15px;
    padding: 10px auto;
}

#main {
    width: 100%;
    height: auto;
}
