.phovered:hover img {
  /* scroll animation on hover */
  transform: scale(1.1);
  transition: all 0.5s ease-in-out;
  /* border: 1px solid #000; */
  animation: scroll 5s linear;
}

/* scroll animation on hover */

@keyframes scroll {
  0% {
    transform: translatey(0);
  }
  100% {
    transform: translatey(-100%);
  }
}
